<kie-server-state>
  <controllers/>
  <configuration>
    <configItems>
      <config-item>
        <name>org.kie.server.mode</name>
        <value>PRODUCTION</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.taskAssigning.userSystem.name</name>
        <value>SimpleUserSystemService</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.taskAssigning.solutionSyncInterval</name>
        <value>PT1S</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.taskAssigning.processRuntime.url</name>
        <value>http://localhost:8090/rest/server</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.taskAssigning.processRuntime.user</name>
        <value>administrator</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.services.taskassigning.user.system.simple.users</name>
        <value>src/test/resources/roles.properties</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.taskAssigning.planning.ext.disabled</name>
        <value>false</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.taskAssigning.publishWindowSize</name>
        <value>2</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.services.taskassigning.core.model.planningUserId</name>
        <value>administrator</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.taskAssigning.processRuntime.targetUser</name>
        <value>administrator</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.bypass.auth.user</name>
        <value>true</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.taskAssigning.processRuntime.pwd</name>
        <value>usetheforce123@</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.taskAssigning.runtime.ext.disabled</name>
        <value>false</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.location</name>
        <value>http://localhost:8090/server</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.id</name>
        <value>SpringBoot</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.controller</name>
        <value></value>
        <type>java.lang.String</type>
      </config-item>
    </configItems>
  </configuration>
  <containers>
    <container>
      <containerId>evaluation</containerId>
      <releaseId>
        <groupId>org.jbpm.test</groupId>
        <artifactId>evaluation</artifactId>
        <version>1.0.0</version>
      </releaseId>
      <status>STARTED</status>
      <scanner>
        <status>STARTED</status>
        <pollInterval>5000</pollInterval>
      </scanner>
      <configItems>
        <config-item>
          <name>RuntimeStrategy</name>
          <value>SINGLETON</value>
          <type>java.lang.String</type>
        </config-item>
        <config-item>
          <name>MergeMode</name>
          <value>MERGE_COLLECTIONS</value>
          <type>java.lang.String</type>
        </config-item>
        <config-item>
          <name>KBase</name>
          <value></value>
          <type>java.lang.String</type>
        </config-item>
        <config-item>
          <name>KSession</name>
          <value></value>
          <type>java.lang.String</type>
        </config-item>
      </configItems>
      <messages/>
    </container>
    <container>
      <containerId>order-saga</containerId>
      <releaseId>
        <groupId>org.kie</groupId>
        <artifactId>order-saga</artifactId>
        <version>1.0</version>
      </releaseId>
      <status>STARTED</status>
      <scanner>
        <status>STARTED</status>
        <pollInterval>5000</pollInterval>
      </scanner>
      <configItems>
        <config-item>
          <name>RuntimeStrategy</name>
          <value>SINGLETON</value>
          <type>java.lang.String</type>
        </config-item>
        <config-item>
          <name>MergeMode</name>
          <value>MERGE_COLLECTIONS</value>
          <type>java.lang.String</type>
        </config-item>
        <config-item>
          <name>KBase</name>
          <value></value>
          <type>java.lang.String</type>
        </config-item>
        <config-item>
          <name>KSession</name>
          <value></value>
          <type>java.lang.String</type>
        </config-item>
      </configItems>
      <messages/>
    </container>
  </containers>
</kie-server-state>